footer {
    grid-area: ft;
    background-color:#333;
    padding-top: 5px;
    text-align:center;
}

.designed-by{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.designed-by-info {
    font-family: 'Pacifico', cursive;
    font-size: 1.1em;
    color: #fff;
    margin: 0;
}

.fab {
    color: #fff;
    margin-left: 20px;
}

.fab:hover {
    color: #30e5c2;
}
