@import "style.css";
@import "nav.css";
@import "card.css";
@import "footer.css";

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 60px;
    margin:0;
    grid-template-areas:
    "nav"
    "posts"
    "ft";
}

/* small Screens */
.posts {
    grid-area: posts;
    display: grid;
    grid-template-columns: 1fr;
    row-gap:12px;
    column-gap: 12px;
    margin:12px;
    grid-template-areas:
    "card-1"
    "card-2"
    "card-3"
    "card-4"
    "card-5"
    "card-6";
}

/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 24px;
        column-gap:24px;
        margin: 24px;
        grid-template-areas:
        "card-1 card-2"
        "card-3 card-4"
        "card-5 card-6";
    }
}

/* Large Screens */
@media (min-width: 901px) {
    .posts {
        grid-template-columns: repeat(3, 1fr);
        margin:24px;
        row-gap: 24px;
        column-gap:24px;
        grid-template-areas:
        "card-1 card-2 card-3"
        "card-4 card-5 card-6";
    }
}



